<div>
  <div class="col-sm-12 col-md-12" id="title">
    <img class="titleIcon" src="assets/flight1.png">
    <span id="titleText">FLIGHT </span>
    <div id="titleSubText">
      SEARCH ENGINE
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-12"
     id="fillData">
      <div class="container">
        <div class="row">
          <div class="col-75">
            <select class='select-option selectTab' required #origin id="origin">
              <option class='option' *ngFor='let option of originOptions' [value]="option" #origin>{{option}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <select class='select-option selectTab' required #destination id="destination">
              <option class='option1' *ngFor='let option1 of destinationOptions' [value]="option1">{{option1}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <select class='select-option selectTab' required #psg id="psg">
                <option class='option' *ngFor='let num of numOfPassengers' [value]="num">{{num}}</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="col-75 datepicker" id="datePicker">
            <mat-form-field class="inputTextDatepicker">
              <input matInput [matDatepicker]="picker" id="inputDatePicker" #date>
              <mat-datepicker-toggle matSuffix [for]="picker" class="datePickerIcon"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
        <button id="searchButton" (click)="flightSearch(origin.value, destination.value, psg.value, date.value)">Search</button></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8" id="colTwo">
      <div *ngIf="!displayData">
        <img id="noDataDisplay" src="assets/imageFlight.jpg">
      </div>
      <div *ngIf="displayData">
        <div class="row">
          <div class="col-sm-6 col-md-6">
           <b>{{origin.value}} > {{destination.value}}</b> 
          </div>
          <div class="col-sm-6 col-md-6 buttonAlign">
            Depart:{{date.value}}
          </div>
        </div>
        <hr>
        <div id="fDetails" *ngFor="let data of flightDataArray">
          <div id="stylingForParentDiv">
            <div class=row>
              <div id="divForPrice">
                Rs.
                {{data.price}}.00
              </div>
              <span id="divForFlightName">
                Airline :
                <span id="textColor">
                  {{data.airline}}
                </span>
              </span>
              <div>
                <img class="titleIcon" src="assets/flight.png">
              </div>
            </div>
            <div class=row>
              <div class="col-4">
                <div>
                  {{data.airlineCode}}
                </div>
                <div>
                  {{data.origin}} > {{data.destination}}
                </div>
                <div class="textFont">
                  Depart: {{(data.departure).substring(0,10)}}/{{(data.departure).substring(11,19)}}
                </div>
                <div class="textFont">
                  Arrive: {{(data.arrival).substring(0,10)}}/{{(data.arrival).substring(11,19)}}
                </div>
              </div>
              <div class="col-4">
                <div>
                  {{data.airlineCode}}
                </div>
                <div>
                  {{data.destination}} > {{data.origin}}
                </div>
                <div class="textFont">
                  Duration : {{data.duration}}
                </div>
                <div class="textFont">
                  Available Seats: {{data.availableSeats}}
                </div>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-success" style="padding:2%">Book</button>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>